## Loading datas into pandas

In [220]:
import pandas as pd
#df=pd.read_csv('pokemon_data.csv')
df = pd.read_csv('pokemon_data.csv', index_col=0)
df.head(3) # print 1st 3 rows
df.tail(3) #print last 3 rows

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [221]:
#Note: To separate csv file like [1,Boy,Krishanu,24] we can use : df=pd.read_csv('filename.csv', delimiter='\t')

## Read headers

In [222]:
print(df.columns)

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

## Read each columns

In [223]:
#df['Name']
#df['Name'][0:5]
#df.Name[0:5]
#df.Name
df[['Name','Attack','HP']]

                      Name  Attack  HP
#
1                Bulbasaur      49  45
2                  Ivysaur      62  60
3                 Venusaur      82  80
3    VenusaurMega Venusaur     100  80
4               Charmander      52  39
..                     ...     ...  ..
719                Diancie     100  50
719    DiancieMega Diancie     160  50
720    HoopaHoopa Confined     110  80
720     HoopaHoopa Unbound     160  80
721              Volcanion     110  80

[800 rows x 3 columns]

## Read each row

In [224]:
print(df.iloc[4]) # for each row
#print(df.iloc[1:4]) # for multiple row

Name          Charmander
Type 1              Fire
Type 2               NaN
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object

## Read specific column and row

In [225]:
print(df.iloc[2,1])

Grass

In [226]:
#to iterate each row with index
#for index,row in df.iterrows():
 #   print(index,row)

In [227]:
df.loc[df['Type 1']=='Fire'] # Read based on specific value of column

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [241]:
merge_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')] # Read data merged values of column
merge_df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False
591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [229]:
#To count he total number of above values
total_count = df.loc[df['Type 1'] == 'Fire'].shape[0]
print("Total count:", total_count)

Total count: 52

## Sorting/ Describing data

In [230]:
df.sort_values(['Type 1','HP'],ascending=False) # Value of both are False

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
...,...,...,...,...,...,...,...,...,...,...,...
290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [231]:
df.sort_values(['Type 1','HP'],ascending=[0,1]) # It means the value of Type 1 is false and the value of HP is True

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
90,Shellder,Water,NaN,30,65,100,45,25,40,1,False
98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...
214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False

## Making changes to the data

In [232]:
#Adding a new column
df['Total']= df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Sp. Def']
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,338
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,425
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,545
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,665
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,294
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,700
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,660
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,730
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,620

In [233]:
#Deleting a column
df = df.drop(['Total'], axis=1) # Axis 1 is columns ---> and axis 0 is rows â†“
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Saving our data

In [234]:
#df.to_csv('filename.csv')
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Filtering the data

In [237]:
filter_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
filter_df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False